<?xml version="1.0"?>
<!--
/**
 * Copyright 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Thousandmonkeys\Restpdf\Api\PDFInterface"
                type="Thousandmonkeys\Restpdf\Model\PDFMaker" />
    <preference for="Thousandmonkeys\Restpdf\Api\PDFResponseInterface"
                type="Thousandmonkeys\Restpdf\Model\PDFResponse" />

</config>